*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 15px;
  font-family: 'Mali', cursive, Courier, monospace;
}

main h1 {
  font-style: italic;
  font-weight: 400;

  margin: 1rem 0 1.5rem;
  padding: 0 1rem;
  text-align: left;
  word-wrap: break-word;
  min-height: 1rem;
  min-width: 50%;
}

.text0-indent-20 {
  text-indent: 20%;
}

main h1 textarea {
  font-family: inherit;
  border: none;
  outline: none;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  text-align: inherit;
  word-wrap: inherit;
  overflow: hidden;
  resize: none;
}

.describe-block {
  margin: 0 1.6rem 1rem;
  position: relative;
  margin-bottom: 1rem;
}

.describe-block > textarea {
  padding: 0 0.5rem 0.5rem 0;
  margin-left: 2rem;
  width: 100%;
  max-width: calc(100% - 2rem);
  border: null;
  outline: none;
  border: 0px;
  resize: none;
  font-weight: 300;
  overflow: hidden;
  font-size: 1rem;
}

.describe-image {
  width: 1rem;
  position: absolute;
  top: 0.3rem;
  left: 0;
}
