header {
  width: 100vw;
  height: 2.5rem;
  display: flex;
  background-color: #27916e;
  align-items: center;
  padding-left: 1rem;
}

img.planets {
  float: right;
  position: absolute;
  right: 1rem;
  top: 0;
  width: 6rem;
}

img.logo {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  margin-right: 0.5rem;
}
